body 
{
	background-color: grey;
	padding: 15px;
	margin-left: 20%;
	margin-right: 20%;

}


#akapit
{
	background-color: #C0C0C0;
	text-align: center;
	padding:15px;
}

#stopka
{
	background-color: red;
	text-align: center;
}

h1
{
	font-size: 36px;
	color: green;
	text-align: center;
}

h2
{
	color: blue;
	text-align: center;
}